#{extends 'securesocial/SecureSocial/main.html'/}
#{set title: messages.get('securesocial.signUpTitle') /}
#{i18n keys:['signup_*']/}
<script type="text/javascript">

$(document).ready(function() {
    $('#userName').bind('input keyup', function(){
        var $this = $(this);
        var delay = 400;

        clearTimeout($this.data('timer'));
        $this.data('timer', setTimeout(function(){
            $this.removeData('timer');
            if ($this.val().length == 0) {
            } else if ($this.val().length < 3) {
                $this.parent().parent().addClass("error");
                $this.next().html(i18n('signup_needMoreCharacters'));
            } else if ($this.val().length > 20) {
                $this.parent().parent().addClass("error");
                $this.next().html(i18n('signup_tooManyCharacters'));
            } else {
                $.get('${play.Play.ctxPath}/auth/isUnique?username='+encodeURI($this.val())+'&rnd='+Math.random(), function(data){
                     if (data.length > 0) {
                         if (data > 0) {
                             $this.parent().parent().addClass("error");
                             $this.next().html(i18n("signup_usernameNotAvailable"));
                         }
                     }
                });
            }
        }, delay));
    });
    $('#userName').bind('input keypress', function(){
        var $this = $(this);
        $this.next().html("");
        $this.parent().parent().removeClass("error");
    });
    $('#password').bind('input keyup', function(){
        var $this = $(this);
        var delay = 400;

        clearTimeout($this.data('timer'));
        $this.data('timer', setTimeout(function(){
            $this.removeData('timer');
            if ($this.val().length == 0) {
            } else if ($this.val().length < 6) {
                $this.parent().parent().addClass("error");
                $this.next().html(i18n('signup_needMoreCharacters'));
            } else if (!$this.val().match(/^.*(?=.{6,})(?=.*[a-zA-Z]).*$/)) {
                $this.parent().parent().addClass("error");
                $this.next().html(i18n('signup_needAtLeastOneLetter'));
            } else if (!$this.val().match(/^.*(?=.{6,})(?=.*\d).*$/)) {
                $this.parent().parent().addClass("error");
                $this.next().html(i18n('signup_needAtLeastOneNumber'));
            }
        }, delay));
    });
    $('#password').bind('input keypress', function(){
        var $this = $(this);
        $this.next().html("");
        $this.parent().parent().removeClass("error");
    });
})
</script>

<div class="span12 columns">
    <div class="page-header">
        <h1>&{'securesocial.signUpTitle'}</h1>
    </div>

#{if flash.error}
    <div class="alert-message block-message error">
        <div class="alert-actions">
        ${flash.error}
        </div>
    </div>
#{/if}

#{if flash.invitationUuid}
    <a href="@{security.SignUpController.joinByFacebook(flash.invitationUuid)}">Sign up using Facebook</a> or
#{/if}
    
    <div class="clearfix" >
    #{form @securesocial.UsernamePasswordController.createAccount(), autocomplete:'off'}
        <fieldset>
            <div class="clearfix #{ifError 'userName'} error #{/ifError}">
                <label for="userName">&{'securesocial.userName'}</label>
                <div class="input">
                    <input id="userName" class="large" name="userName" value="${flash.userName}"/>
                    <span class="help-inline">
                    #{ifError 'userName'}
                        #{error 'userName'/}
                    #{/ifError}
                    </span>
                </div>
            </div>

            <div class="clearfix #{ifError 'displayName'} error #{/ifError}">
                <label for="displayName">&{'securesocial.name'}</label>
                <div class="input">
                    <input id="displayName" class="large" name="displayName" value="${flash.displayName}"/>
                    #{ifError 'displayName'}
                        <span class="help-inline">#{error 'displayName'/}</span>
                    #{/ifError}
                </div>
            </div>

            <div class="clearfix #{ifError 'email'} error #{/ifError}">
                <label for="email">&{'securesocial.email'}</label>
                <div class="input">
                    <input id="email" class="large" name="email" value="${flash.email}"/>
                        <span class="help-inline">
                            #{ifError 'email'}
                                #{error 'email'/}
                            #{/ifError}
                        </span>
                </div>
            </div>

            <div class="clearfix #{ifError 'password'} error #{/ifError}">
                <label for="password">&{'securesocial.password'}</label>
                <div class="input">
                    <input id="password" class="large" name="password" type="password" value="${flash.password}"/>
                    <span class="help-inline">
                    #{ifError 'password'}
                        #{error 'password'/}
                    #{/ifError}
                    </span>
                </div>
            </div>
            <input name="${controllers.security.SignUpController.INVITATION_UUID}" type="hidden" value="${flash.invitationUuid}"/>

            <div class="actions">
                <input type="submit" value="Create Account" class="btn primary">
                <a href="@{securesocial.SecureSocial.login()}" class="btn">&{'securesocial.cancel'}</input></a>
            </div>
        </fieldset>
    #{/form}
    </div>
</div>