
<script src="@{'/public/javascripts/ninjatodo_edit.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<div class="settings_close"><a href="#" class="mtt-back-button">&{'go_back'}</a></div>

<h3>&{'set_header'}</h3>

<div id="settings_msg" style="display:none"></div>

#{form @Projects.save() , id:'settings_form' }

<table class="mtt-settings-table">
    <tr>
        <th>&{'set_title'}</th>
        <td>

            #{list items:participations, as:'participation'}
                #{if project.creator.username.equals(user.id.id)}
                    <input name="title" value="${project.title}" class="in350" />
                #{/if}
                #{else}
                ${project.title}
                #{/else}
            #{/list}


        </td>
    </tr>
    <tr>
        <th>&{'set_teamowner'}
            <div class="team-members-instr">&{'set_teamowner_instr'}</div></th>
        <td>
            <div id="ownerList">
                <span class="eachMember"><span id="participant_${participation.id}" class="team-members lightblue_bg">
                    ${project.creator.fullName} (${project.creator.email})
                </span>&nbsp;&nbsp;&nbsp;</span>
                <span class="team-members inviteToProject">
                <a href="#" id="addOwner" class="weak">&{'set_addOwner'}</a>
                </span>
                *{
                <div id="addToProject_OWN" class="addToProject">
                    <div>&{'set_addOwner_instr'}</div>
                    <textarea></textarea>
                    <div class="addMember-actions"><a href="#" class="ntt-action-invite">&{'actionInvite'}</a> |
                        <a href="#" class="ntt-action-cancel">&{'actionCancel'}</a></div>
                </div>}*
            </div>
        </td>
    </tr>
    <tr>
        <th>&{'set_teamadmin'}
            <div class="team-members-instr">&{'set_teamadmin_instr'}</div></th>
        <td>
            <div id="adminList">
                #{list items:participations, as:'participation'}
                    #{if participation.role==models.Role.WRITE}
                    <span class="eachMember"><span id="participant_${participation.id}" class="team-members lightblue_bg">
                    ${participation.user.username} (${participation.user.fullName}, ${participation.user.email})

                    <span class="team-member-action">
                        #{if participations.size() > 1}
                            <a href="#" title="&{'set_remove_user'}" id="deleteMember_${participation.id}" class="deleteMember weak">x</a>
                        #{/if}
                        <a href="#" title="&{'set_promote_user_owner'}" id="promoteMember_${participation.id}" class="promoteMember weak">&uarr;</a>
                        <a href="#" title="&{'set_demote_user_viewer'}" id="demoteMember_${participation.id}" class="demoteMember weak">&darr;</a>
                    </span>

                    </span>&nbsp;&nbsp;&nbsp;</span>
                    #{/if}
                #{/list}
                <span class="team-members inviteToProject">
                <a href="#" id="addWriter" class="weak">&{'set_addWriter'}</a>
            </span>
                <div id="addToProject_WRITE" class="addToProject">
                    <div>&{'set_addWriter_instr'}</div>
                    <textarea></textarea>
                    <div class="addMember-actions"><a href="#" class="ntt-action-invite">&{'actionInvite'}</a> |
                        <a href="#" class="ntt-action-cancel">&{'actionCancel'}</a></div>
                </div>
            </div>
        </td>
    </tr>
    *{
    <tr>
        <th>&{'set_teammember'}
            <div class="team-members-instr">&{'set_teammember_instr'}</div></th>
        <td>
            <div id="memberList">
                #{list items:participations, as:'participation'}
                    #{if participation.role==models.Role.READ}
                        <span class="eachMember"><span id="participant_${participation.id}" class="team-members lightblue_bg">
                     ${participation.user.username} (${participation.user.fullName}, ${participation.user.email})
                    <span class="team-member-action">
                        #{if participations.size() > 1}
                        <a href="#" title="&{'set_remove_user'}" id="deleteMember_${participation.id}" class="deleteMember weak">x</a>
                        #{/if}
                        <a href="#" title="&{'set_promote_user_member'}" id="promoteMember_${participation.id}" class="promoteMember weak">&uarr;</a>
                        <a href="#" title="&{'set_demote_user_viewer'}" id="demoteMember_${participation.id}" class="demoteMember weak">&darr;</a>
                    </span>
                </span>&nbsp;&nbsp;&nbsp;</span>
                    #{/if}
                #{/list}
                <span class="team-members inviteToProject">
                <a href="#" id="addReader" class="weak">&{'set_addReader'}</a>
            </span>
                <div id="addToProject_READ" class="addToProject">
                    <div>&{'set_addReader_instr'}</div>
                    <textarea></textarea>
                    <div class="addMember-actions"><a href="#" class="ntt-action-invite">&{'actionInvite'}</a> |
                        <a href="#" class="ntt-action-cancel">&{'actionCancel'}</a></div>
                </div>
            </div>
        </td>
    </tr> }*
    <tr><td colspan="2" class="form-buttons">

        <input type="submit" value="&{'save'}" />
        <input type="button" class="mtt-back-button" value="&{'cancel'}" />

    </td></tr>
    <tr><td colspan="2" class="form-buttons">

        <a href="@{Projects.exportInCSV(project.id)}">&{'export_label_csv'}</a>

    </td></tr>
    <tr><td colspan="2" class="form-buttons">

        <a href="@{Projects.delete(project.id)}">&{'set_delete_project'}</a>

    </td></tr>
</table>

#{/form}

