
<script src="@{'/public/javascripts/ninjatodo_edit.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<div class="settings_close"><a href="#" class="mtt-back-button">&{'go_back'}</a></div>

<h3>&{'set_header'}</h3>

<div id="settings_msg" style="display:none"></div>

#{form @Projects.save() , id:'settings_form' }

<table class="mtt-settings-table">
    <tr>
        <th>&{'set_title'}</th>
        <td> <input name="title" value="${project.title}" class="in350" /> </td>
    </tr>
    <tr>
        <th>&{'set_teammember'}
            <div class="team-members">&{'set_teammember_instr'}</div></th>
        <td>
            <div id="memberList">
            #{list items:participations, as:'participation'}
            #{if participation.role==models.Role.READ}
                <span><span class="team-members lightblue_bg">
                    <a href="#" class="weak">${participation.user.fullName}</a>
                    #{if participations.size() > 1}
                    <span class="delete-team-member"><a href="#" id="deleteMember_${participation.id}" class="weak">x</a></span>
                    #{/if}
                </span>&nbsp;&nbsp;&nbsp;</span>
            #{/if}
            #{/list}
            <span class="team-members inviteToProject">
                <a href="#" id="addReader" class="weak">&{'set_addReader'}</a>
            </span>
            <div id="addToProject_READ" class="addToProject">
                <div>&{'set_addReader_instr'}</div>
                <textarea></textarea>
                <div class="addMember-actions"><a href="#" class="ntt-action-invite">&{'actionInvite'}</a> |
                    <a href="#" class="ntt-action-cancel">&{'actionCancel'}</a></div>
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>&{'set_teamadmin'}
            <div class="team-members">&{'set_teamadmin_instr'}</div></th>
        <td>
            <div id="adminList">
                #{list items:participations, as:'participation'}
                    #{if participation.role==models.Role.WRITE}
                    <span><span class="team-members lightblue_bg">
                    <a href="#" class="weak">${participation.user.fullName}</a>
                    #{if participations.size() > 1}
                    <span class="delete-team-member"><a href="#" id="deleteMember_${participation.id}" class="weak">x</a></span>
                    #{/if}
                    </span>&nbsp;&nbsp;&nbsp;</span>
                    #{/if}
                #{/list}
                <span class="team-members inviteToProject">
                <a href="#" id="addWriter" class="weak">&{'set_addWriter'}</a>
            </span>
                <div id="addToProject_WRITE" class="addToProject">
                    <div>&{'set_addWriter_instr'}</div>
                    <textarea></textarea>
                    <div class="addMember-actions"><a href="#" class="ntt-action-invite">&{'actionInvite'}</a> |
                        <a href="#" class="ntt-action-cancel">&{'actionCancel'}</a></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>&{'set_teamowner'}
            <div class="team-members">&{'set_teamowner_instr'}</div></th>
        <td>
            <div id="ownerList">
                #{list items:participations, as:'participation'}
                #{if participation.role==models.Role.OWN}
                    <span><span class="team-members lightblue_bg">
                    <a href="#" class="weak">${participation.user.fullName}</a>
                    #{if participations.size() > 1}
                    <span class="delete-team-member"><a href="#" id="deleteMember_${participation.id}" class="weak">x</a></span>
                    #{/if}
                </span>&nbsp;&nbsp;&nbsp;</span>
                #{/if}
                #{/list}
                <span class="team-members inviteToProject">
                <a href="#" id="addOwner" class="weak">&{'set_addOwner'}</a>
            </span>
                <div id="addToProject_OWN" class="addToProject">
                    <div>&{'set_addOwner_instr'}</div>
                    <textarea></textarea>
                    <div class="addMember-actions"><a href="#" class="ntt-action-invite">&{'actionInvite'}</a> |
                        <a href="#" class="ntt-action-cancel">&{'actionCancel'}</a></div>
                </div>
            </div>
        </td>
    </tr>
    <tr><td colspan="2" class="form-buttons">

        <input type="submit" value="&{'save'}" />
        <input type="button" class="mtt-back-button" value="&{'cancel'}" />

    </td></tr>
</table>

#{/form}

